<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular Intro</title>

      <!-- Angular Links -->
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js'> </script>
    <script type="text/angular" src ='https://code.jquery.com/jquery-git2.min.js'></script>
  </head>
  <body>
    <input type='text' placeholder ='what is your name?!' ng-model='name'>
    <h2>My name is: {{name}}</h2>
    <input type='date' placeholder ='what is your Birthday?!' ng-model='date'>
    <h2>Birthday: {{date}}</h2>


    <!-- The option value is what shows up in the view when ng-model is used -->
    <select class="pets" name="pets" ng-model='pets'>
      <option value='dogs'>Dogs</option>
      <option value='cats'>Cats</option>
      <option value='dogs and cats'>Dogs and Cats</option>
      <option value='neither'>Neither</option>
    </select>
    <h3>I love {{ !pets ? 'pets' : pets}} </h3>

    <p>{{1+2}}</p>
    <p>{{'BoJack' + ' Horseman'}}</p>
    <p>{[99,43,22].length}}</p>

    <!-- messing with filters  -->
    <p>{{3.1459265359 | currency }}</p>
    <p>{{3.1459265359 | currency: '&#8364;' }}</p>
    <p>
      <input type="text" name="name" value="name" ng-model='slogan'>
      <h3>Yelling: {{slogan | uppercase }}</h3>
      <h3>Whispering: {{slogan | lowercase }}</h3>
    </p>
    <p>
      {{3.1459265359 | number: 3}} <br>
      {{3.1459265359 | number: 6}} <br>
      {{3.1459265359 | number: 1}} <br>
    </p>

    
    <h3>How many digits should pi have: <input type="number"  min ='1' max ='9' name="name" value="" ng-model='digits'> </h3>
    <h3>The {{digits}} digit of pi!</h3> {{3.1459265359 | number: digits}}



<!-- Modules  -->

<!-- Controllers -->

<!-- Directives  -->


  </body>
</html>
